/* .scroll-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  .services-ticker-block {
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .stb_line_single {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .stb-item {
    display: block;
  }
   */